.hbContainer {
    max-width: 100%;
    margin-top: 14px;
}

.left {
    float: left;
}

.right {
    float: right;
}

.center {
    text-align: center;
}

.calendarList1 {
    list-style: none;
    width: 100%;
    margin-top: 13px;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(1, 40px);
    align-items: center;
    justify-items: center;
    grid-gap: 0;
    font-size: 14px;
}
.calendarList1 li{
    border: 1px solid lightgrey;
    padding:5px 11px;
    border-radius: 4px;
    font-weight: bold;
}

.calendarList2 {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 40px);
    align-items: center;
    justify-items: center;
    grid-gap: 0;
    font-size: 14px;
    color: #707070;
}
.calendarList2 li{
    grid-column-start: 0;
}

.calendarYearMonth {
    font-size: 1.5rem;
    font-weight: bold;
}

.calendarYearMonth p {
    display: inline-block;
    vertical-align: middle;

}

.calBtn {
    user-select: none;
    cursor: pointer;
    background: #f09892;
    margin: -7px 0;
    padding: 3px 22px;
    border-radius: 30px;
    font-size: 14px;
    line-height: 22px;
    color: #fff;
    border: 1px solid #f09892
}
